/* Register.css */

.register-page {
    margin: 10px;
    padding: 10px;
    background-image: linear-gradient(to bottom, #2980b9, #3498db);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    /* Change to column layout */
    align-items: center;
    /* Center horizontally */
    justify-content: center;
    /* Center vertically */
    height: 100vh;
}

.register-title {
    font-size: 34px;
    margin-bottom: 20px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.rform {
    background-color: #fff;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    width: 383px;
    height: 250px;
    text-align: center;
    margin-top: 20px;
    /* Add margin to separate from the title */
}

.rform input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #3498db;
    font-size: 16px;
    outline: none;
}

.rform input:focus {
    border-bottom: 2px solid #2980b9;
}

.rform button {
    width: 100%;
    padding: 10px;
    margin: 10px;
    background-color: #2980b9;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.rform button:hover {
    background-color: #3498db;
}

/* Style the "Already have an account?" message and the login link */
.already-have-account {
    font-size: 15px;
    margin-top: -40px;
    margin-right: 20px;
    text-align: center;
}

/* Style the login link */
.already-have-account a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

/* Style the login link on hover */
.already-have-account a:hover {
    color: #2980b9;
}