/* Popup.css */

/* Style for the modal overlay */
.ReactModal__Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* Ensure the modal is on top of other content */
}

/* Style for the modal content */
.ReactModal__Content {
    width: 300px;
    background-color: #fff;
    /* White background */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    /* Shadow effect */
    border: none;
}

/* Style for the modal title */
.popup-content h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Style for the input field */
.url-input {
    width: 99%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    /* Light gray border */
    border-radius: 5px;
    font-size: 14px;
}

/* Style for the submit button */
.submit-button {
    background-color: #007bff;
    /* Blue color */
    color: #fff;
    /* White text color */
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease-in-out;
}

.submit-button:hover {
    background-color: #0056b3;
    /* Darker blue color on hover */
}

/* Style for the close button */
.close-button {
    background-color: #ccc;
    /* Light gray color */
    color: #000;
    /* Black text color */
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease-in-out;
    margin-left: 10px;
    /* Add margin to separate buttons */
}

.close-button:hover {
    background-color: #b3b3b3;
    /* Darker gray color on hover */
}

/* Style for the output message */
.output-message {
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
}